* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  background: #222222;
  padding: 35px 0px;
  font-weight: 500;
  font-family: 'Roboto', serif;
  font-size: 14px;
}

.footer__highlited {
  color: #bbb;
}

.footer__highlited span {
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 35px 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
  margin: 10px 40px 0px 0px;
}

.header__menu {
  width: 100%;
  margin: 0px 0px 0px -10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  font-family: 'Roboto', serif;
  color: #7b8b99;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header__link:hover {
  color: #000;
}

.header__link_l {
  display: none;
}

.header__courses {
  background: #A16AE8;
  width: 200px;
  height: 42px;
  color: #fff;
  z-index: 2;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  border-radius: .375rem;
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

/*@import "_menumultiple";*/

/*@import "_popup";*/

.item {
  font-family: 'Roboto', serif;
}

.item__header {
  border-bottom: 1px solid #e9e9e9;
  margin: 0px 0px 30px 0px;
}

.item__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #333;
  margin: 0px 0px 10px 0px;
}

.item__date {
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item__tags {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

.item__tags a {
  color: #03c4eb;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.item__took-from {
  font-size: 15px;
  font-style: italic;
  margin: 0px 0px 15px 0px;
}

.item__took-from a {
  color: #03c4eb;
}

.item__content {
  margin: 0px 0px 15px 0px;
}

.item__content-blocks {
  margin: 14px 0px;
  background: #eeeeee;
  border: 1px solid #cccccc;
  padding: 0px 15px 0px 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.58;
  cursor: text;
}

.item__content-blocks::-moz-selection {
  background: #dbdbdb;
}

.item__content-blocks pre::selection {
  background: #cccccc;
}

.item__content-blocks pre {
  overflow-x: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.item__content-heading {
  font-weight: 700;
  margin: 18px 0px 9px;
}

.item__content-title {
  font-weight: 700;
  margin: 18px 0px;
}

.item__telegram {
  position: relative;
  background: #feffbd;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 5px;
}

.item__pagination {
  margin: 50px 0px 0px 0px;
}

.item__nav {
  text-transform: uppercase;
  font-size: 12px;
  color: #7b8b99;
  letter-spacing: .025em;
  font-weight: 600;
  margin: 2rem 0px;
}

.item__nav:hover a {
  text-decoration: underline;
}

.item__nav a {
  text-transform: none;
  font-size: 14px;
  color: #A16AE8;
  letter-spacing: 0;
  font-weight: 500;
}

.item__hr {
  width: 100%;
  height: 1px;
  border-top: 1px solid #e1e9f0;
  padding-bottom: 2rem;
}

.item__back {
  color: #A16AE8;
  font-weight: 500;
  font-size: 14px;
}

.item__back:hover {
  text-decoration: underline;
}

.telegram-item__cross {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.7;
}

.telegram-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telegram-item__img {
  margin: 0px 20px 0px 0px;
}

.telegram-item__img img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.telegram-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.telegram-item__h1 {
  font-size: 26px;
  color: #333;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.telegram-item__text {
  font-size: 15px;
  color: #242424;
  margin: 15px 0px;
}

.telegram-item__subscribe {
  justify-self: end;
  font-size: 16px;
  height: 35px;
  padding: 8px 20px 0px 20px;
  background: #6fc3f1;
  max-width: 135px;
  color: #000 !important;
  border-radius: 5px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.telegram-item__subscribe:hover {
  background: #00a6ff;
  color: #fff !important;
}

.space-from-header {
  margin: 155px 0px 0px 0px;
  border-bottom: 1px solid #e9e9e9;
}

.wrapper {
  padding: 0px 35px 40px 35px;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 'main sidebar';
}

.content {
  padding: 40px 40px 0px 0px;
  border-right: 1px solid #e9e9e9;
  grid-area: main;
}

.article {
  border-top: 1px solid #e9e9e9;
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article:first-child {
  border-top: none;
}

.article__img {
  margin: 0px 30px 0px 0px;
}

.article__img img {
  width: 300px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.article__content {
  font-family: 'Roboto', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -5px 0px 0px 0px;
}

.article__tags {
  margin: 0px 0px 10px 0px;
}

.article__tag {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.article__tag a {
  color: #03c4eb;
}

.article__title {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.5;
}

.article__text {
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Sen', sans-serif;
  font-size: 17px;
  color: #A16AE8; 
  padding: 40px 0px 0px 0px;
  border-top: 1px solid #e9e9e9;
}

.pagination__main {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.pagination__main a {
  text-decoration: none;
  padding: 0px 20px;
  color: #A16AE8;
}

.pagination__main a:first-child {
  padding: 0px 20px 0px 0px;
}

.pagination__main a:hover {
  color: #7533cc;
}

.pagination__next {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  text-decoration: none;
  color: #A16AE8;
}

.pagination__next:hover {
  color: #7533cc;
}

.sidebar {
  padding: 40px 0px 0px 40px;
  grid-area: sidebar;
}

.sidebar__search {
  margin: 0px 0px 40px 0px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e9e9e9;
  padding: 10px 20px 10px 17px;
}

.sidebar__search input {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Sen', sans-serif;
}

.sidebar__search button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.sidebar__articles {
  margin: 0px 0px 40px 0px;
}

.telegram-btn {
  width: 250px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #27A5E7;
  -webkit-box-shadow: 1px 1px 5px #27a5e7;
          box-shadow: 1px 1px 5px #27a5e7;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', serif;
  margin: 0px 0px 40px 0px;
}

.telegram-btn__text {
  position: relative;
  padding: 0px 0px 0px 30px;
}

.telegram-btn__text::before {
  content: url("../images/telegram24.png");
  position: absolute;
  top: 1px;
  left: 0;
}

.articles-sidebar__pupular .articles-sidebar__title:first-child {
  padding: 0px 0px 10px 0px;
}

.articles-sidebar__pupular a:hover {
  text-decoration: underline;
}

.articles-sidebar__header {
  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #242424;
  font-size: 15px;
  margin: 0px 0px 13px 0px;
  letter-spacing: 2px;
}

.articles-sidebar__body {
  font-size: 14px;
}

.articles-sidebar__body a {
  color: #242424;
}

.articles-sidebar__tags {
  font-family: 'Open Sans', serif;
}

.articles-sidebar__title {
  font-family: 'Roboto', serif;
  padding: 10px 0px;
}

.articles-sidebar__recent .articles-sidebar__title {
  border-bottom: 1px solid #e9e9e9;
}

.articles-sidebar__recent .articles-sidebar__title:first-child {
  padding: 0px 0px 10px 0px;
}

.articles-sidebar__recent a {
  position: relative;
  -webkit-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

.articles-sidebar__recent a::before {
  content: '\2192';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

@-webkit-keyframes example {
  from {
    left: -2rem;
    opacity: 0;
  }

  to {
    left: 0rem;
    opacity: 1;
  }
}

@keyframes example {
  from {
    left: -2rem;
    opacity: 0;
  }

  to {
    left: 0rem;
    opacity: 1;
  }
}

.articles-sidebar__recent a:hover {
  padding: 0px 0px 0px 20px;
}

.articles-sidebar__recent a:hover::before {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.tricks-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  font-family: 'Roboto', serif;
  text-align: center;
}

.tricks-sidebar__subtitle {
  color: #999;
  font-size: 21px;
  font-weight: 500;
  margin: 0px 0px .5rem 0px;
  line-height: 1.1;
}

.tricks-sidebar__title {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0px 0px .5rem 0px;
  color: #777;
}

.tricks-sidebar__img {
  max-width: 100%;
  margin: 0px 0px 1rem 0px;
}

.tricks-sidebar__img img {
  border-radius: .25rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 210px;
  height: 140px;
}

.tricks-sidebar__mail {
  padding: 6px 12px;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.tricks-sidebar__btn {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #A16AE8;
  color: #fff;
  border-radius: .25rem;
  line-height: 1.5;
  padding: 6px 12px;
  width: 100%;
  font-weight: 400;
  outline: none;
  border: none;
  height: calc(1.5em + .75rem + 5px);
  margin: 1rem 0px .56rem 0px;
}

.tricks-sidebar__important {
  font-family: 'Open Sans', serif;
  color: #999;
}

@media (max-width: 1050px) {
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .article__img {
    margin: 0px 0px 30px 0px;
  }

  .article__img img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 950px) {
  .pagination__next span {
    display: none;
  }
}

@media (max-width: 920px) {
  .item {
    padding: 40px 0px 0px 0px;
  }
}

@media (max-width: 820px) {
  .container {
    padding: 0px 20px 0px 10px;
  }

  .wrapper {
    grid-template-areas: 'main main'
 'sidebar sidebar';
    padding: 0px 30px 40px 30px;
  }

  .content {
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  .article__img {
    display: none;
  }

  .sidebar {
    padding: 60px 0px 0px 0px;
  }

  .telegram-btn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .telegram-item__h1 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0px 5px 0px 10px;
  }

  .header__logo {
    margin: 0px 0px 0px -10px;
  }

  .header__burger {
    margin: 10px 20px 0px 0px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    top: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 20px;
  }

  .header__list {
    display: block;
    padding: 0px 0px 0px 20px;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link_l {
    display: block;
    background: #A16AE8;
    width: 200px;
    height: 42px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 1px;
    border-radius: .375rem;
  }

  .header__link {
    font-size: 24px;
  }

  .header__courses {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  .article__img {
    display: block;
  }

  .article__img img {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 636px) {
  .item__title {
    font-size: 25px;
  }

  .telegram-item__cross {
    font-size: 24px;
  }

  .telegram-item__img img {
    width: 105px;
    height: 105px;
  }

  .telegram-item__h1 {
    font-size: 14px;
  }

  .telegram-item__text {
    font-size: 13px;
  }

  .telegram-item__subscribe {
    font-size: 13px;
    padding: 10px 20px 0px 10px;
    max-width: 105px;
  }
}

@media (max-width: 600px) {
  .article__img img {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 530px) {
  .telegram-item {
    display: none;
  }
}

@media (max-width: 420px) {
  .pagination__main a {
    padding: 0px 10px 0px 0px;
  }

  .pagination__next {
    font-size: 15px;
    margin: 2px 0px 0px 0px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1050px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 920px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 820px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 720px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 636px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 530px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}
